.banner
{
    background-image: url('../../../assets/images/front2.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
    
}

#h1{
    color: coral;
}
.content h1
{
    color: #fff;
    font-size: 80px;
    font-style: italic;
    font-weight:900;
    
    
}
.content p{
    color: white;
    text-align: center;
    font-weight:700;
    font-size: 40px;
}

.content
{
    text-align: center;
    padding-top:10rem;
}

.content a
{
   text-decoration: none;
   background-color: #fff;
   color: var(--primary-color);
   padding: 15px 20px;
   border-radius: 5px;
   margin-top: 20px;
   font-size: 20px;
   font-weight:bold;
}

.content a:hover
{
   background-color: var(--primary-color);
   color: #fff;
}

.container
{
    align-items: center;
    margin-top: 70px;
}



.card:hover
{
    transform: scale(1.1);
}

.card
{
    transition: transform .5s;
}

.restaurents
{
    margin-top: 60px;
}