<div class="banner">
    <div class="content">
        <h1 id="h1">Eat.Drink.Repeat.</h1>
        <!-- <p>Discover the best food & drinks in Pune</p> -->
        <!-- <a routerLink="login">Please login here <i class="bi bi-arrow-right"></i></a> -->
        <a class="nav-link" href="/login" routerLink="/login">Please Login Here <span class="sr-only"></span></a>
    </div>
</div>
<div class="container">
    <div class="options">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow" style="width: 23rem; height: 17rem; border-radius: 10px;">
                    <img src="../../../assets/images/food1.jpg" class="card-img-top" alt="..." style="height: 12rem">
                    <div class="card-body text-center">
                        <h4 class="card-title">Here</h4>
                        <p class="card-text">Find best food for you</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow" style="width: 23rem; height: 17rem; border-radius: 10px;">
                    <img src="../../../assets/images/filldetails.png" class="card-img-top" alt="..." style="height: 12rem">
                    <div class="card-body text-center">
                        <h4 class="card-title">Here </h4>
                        <p class="card-text">Kindly complete registration </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card shadow" style="width: 23rem; height: 17rem; border-radius: 10px;">
                    <img src="../../../assets/images/orderDelivered.jpg" class="card-img-top" alt="..."
                        style="height: 12rem">
                    <div class="card-body text-center">
                        <h4 class="card-title">Hurry!</h4>
                        <p class="card-text">Your food will be at your doorstep within minutes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="restaurents">
        <div class="restaurents-text">
            <h1>Collections</h1>
            <p>Explore the best restaurents in Pune</p>
        </div>
        <div class="row ">
            <div class="col-md-3">
                <div class="card shadow" style="width: 18rem; height: 19rem; border-radius: 10px;">
                    <img src="../../../assets/images/restaurent1.webp" class="card-img-top" alt="..."
                        style="height:19rem">
                </div>
            </div>

            <div class="col-md-3">
                <div class="card shadow" style="width: 18rem; height: 20rem; border-radius: 10px;">
                    <img src="../../../assets/images/restaurent2.jpg" class="card-img-top" alt="..."
                        style="height: 19rem ">
                </div>
            </div>

            <div class="col-md-3">
                <div class="card shadow" style="width: 18rem; height: 20rem; border-radius: 10px;">
                    <img src="../../../assets/images/restaurent3.jpg" class="card-img-top" alt="..."
                        style="height:19rem">
                </div>
            </div>

            <div class="col-md-3">
                <div class="card shadow" style="width: 18rem; height: 20rem; border-radius: 10px;">
                    <img src="../../../assets/images/restaurent5.jpg" class="card-img-top" alt="..."
                        style="height: 19rem">
                </div>
            </div>
        </div>

    </div>
</div>
