<body>
    <nav class="navbar">
        <div class="logo"><img class="logo1" src="../../../../assets/icons/appicon.png">FOOD FOR YOU</div>
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="menu">
                <li><a routerLink="/restaurant-owner-home">Home</a></li>
                <li><a routerLink="/about">About</a></li>
            </div>
        </ul>
    </nav>
    <div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Add Food Item</mat-card-title>
            </mat-card-header>
            <form class="example-form" [formGroup]="foodItemForm">
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput placeholder="foodName" formControlName="foodName" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input type="number" matInput placeholder="price" formControlName="price" required>
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input type="number" matInput placeholder="offer" formControlName="offer" required>
                    </mat-form-field>
    
                    <mat-form-field class="example-full-width">
                        <input type="text" matInput placeholder="foodCategory" formControlName="foodCategory" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input type="text" matInput placeholder="foodDescription" formControlName="foodDescription" required>
                    </mat-form-field>
                </mat-card-content>
                <button mat-stroked-button color="accent" class="btn-block" (click)="onSubmit()" [disabled]="!foodItemForm.valid">Add Food Item</button>
            </form>
        </mat-card>
    </div>
</body>