<nav class="navbar">
    <div class="logo"><img class="logo1" src="../../../../assets/icons/appicon.png">FOOD FOR YOU</div>
    <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
            <li><a routerLink="/admin-home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a routerLink="/add-restaurant">Add Restaurant</a></li>
            <li><a routerLink="/get-all-user">All User</a></li>
            <li><a routerLink="/get-all-restaurant">All Restaurant</a></li>
            <li><a *ngIf="admin" (click)="logoutAdmin()">Logout</a></li>
        </div>
    </ul>
</nav>