@import "~bootstrap/dist/css/bootstrap.css";
.navbar{
    background-image: url("../../../assets/images/pexels-pixabay-372882.jpg");
}
span{
    color: white;
    font-size: 30px;
}
button{ 
    color: white;
    font-size: 20px;
}
img{
    width: 50px;
    height: 50px;
}