
.box {
    margin-top: 100px;
    position: relative;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    border-radius: 10px;
    max-width: 250px;
}
body {
    background-image: url("../../../assets/images/indian-food-circular-frame-with-copy-space.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}