<body>
<nav class="navbar">
    <div class="logo"><img class="logo1" src="../../../../assets/icons/appicon.png">FOOD FOR YOU</div>
    <ul class="nav-links">
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/about">About</a></li>
         
        </div>
    </ul>
</nav>
<br>
<h1>{{restaurantName}}</h1>

<mat-grid-list cols="3">

    <mat-grid-tile *ngFor="let foodItem of foodItemList">
    <mat-card >
        <mat-card-header>
          <mat-card-title  title="{{foodItem.foodName}}">{{foodItem.foodName}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image width="300" height="150" src="../../../../assets/images/FoodItems/foodItem-1.jpg" alt="Food {{foodItem.foodName}}">
        <mat-card-content>
            <p>Category : {{foodItem.foodCategory}}</p>
            <p>Details : {{foodItem.foodDescription}}</p>
            <p style="color:green;">Price : Rs.{{foodItem.price}}</p>
            <p style="color:red">Offer : Rs.{{foodItem.offer}} OFF</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="addToCart(foodItem.foodId)">Add To Cart</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</body>