<body>
    <nav class="navbar">
        <div class="logo"><img class="logo1" src="../../../../assets/icons/appicon.png">FOOD FOR YOU</div>
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <div class="menu">
                <li><a routerLink="">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </div>
        </ul>
    </nav>
    
        <div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
            <mat-card class="box">
                <mat-card-header>
                    <mat-card-title>OTP Login</mat-card-title>
                </mat-card-header>
                <form class="example-form" [formGroup]="loginForm">
                    <mat-card-content>
                        <mat-form-field class="example-full-width">
                            <input type="email" matInput placeholder="Email" formControlName="userEmail" required>
                            <div class="error" class="text-danger" *ngIf="loginForm.controls['userEmail'].hasError('required') && loginForm.controls['userEmail'].touched">Email is required</div>
                        </mat-form-field>
                      
                    <button mat-stroked-button type="button" color="accent" class="btn-block" (click)="sendOTP()">Send OTP</button>
                    </mat-card-content>
                </form>
                <form class="example-form-1" [formGroup]="otpForm">
                    <mat-card-content>
                        <mat-form-field class="example-full-width">
                            <input type="number" matInput placeholder="OTP" formControlName="otp" required>
                            <div class="error" class="text-danger" *ngIf="otpForm.controls['otp'].hasError('required') && otpForm.controls['otp'].touched">OTP is required</div>
                        </mat-form-field>
                       
                    <button mat-stroked-button type="button" color="accent" class="btn-block" (click)="validate()">Login</button>OR
                    </mat-card-content>
                </form>
                <p><a routerLink="/login">Login with Password</a></p>
               <p> Don't have user account ? <a routerLink="/registration">Signup Here</a></p>
            </mat-card>
        </div>
    </body>
    